# Checks: >
#   *,
#   -llvm-header-guard,
#   -readability-avoid-const-params-in-decls,
#   -cppcoreguidelines-avoid-magic-numbers,
#   -modernize-use-auto,
#   -hicpp-use-auto,
#   -google-readability-function-size,
#   -cppcoreguidelines-pro-bounds-pointer-arithmetic

# WarningsAsErrors: '*'

# HeaderFilterRegex: '.*'

# AnalyzeTemporaryDtors: true

# CheckOptions:
#   - key:             readability-magic-numbers.IgnoredValues
#     value:           '0,1,2'
#   - key:             readability-braces-around-statements.ShortStatementLines
#     value:           '2'
#   - key:             modernize-use-auto.MinTypeNameLength
#     value:           '5'
#   - key:             readability-function-cognitive-complexity.Threshold
#     value:           '20'
#   - key:             readability-identifier-naming.ClassCase
#     value:           CamelCase
#   - key:             readability-identifier-naming.MethodCase
#     value:           camelBack
#   - key:             readability-identifier-naming.VariableCase
#     value:           camelBack
#   - key:             readability-identifier-naming.ParameterCase
#     value:           camelBack
#   - key:             readability-identifier-naming.ClassMemberCase
#     value:           camelBack
#   - key:             readability-identifier-naming.ConstexprVariableCase
#     value:           UPPER_CASE
#   - key:             readability-identifier-naming.PrivateMemberPrefix
#     value:           m_
#   - key:             readability-identifier-naming.PrivateMemberSuffix
#     value:           _
#   - key:             readability-identifier-naming.ClassMemberPrefix
#     value:           _
#   - key:             readability-identifier-naming.ClassMemberSuffix
#     value:           _
#   - key:             performance-inefficient-vector-operation.WarnOnAll
#     value:           'true'
#   - key:             performance-inefficient-vector-operation.SizeThreshold
#     value:           '5'
#   - key:             clang-diagnostic-unused-variable
#     value:           'true'

# ---

# # Specific options for the modernize-use-nullptr check
# Checks: '-*,modernize-use-nullptr'
# CheckOptions:
#   - key:             modernize-use-nullptr.NullMacros
#     value:           'NULL'

# ---

# # Specific options for the readability-magic-numbers check
# Checks: '-*,readability-magic-numbers'
# CheckOptions:
#   - key:             readability-magic-numbers.IgnoredValues
#     value:           '0,1,2,100'

# ---

# # Enable the clang-analyzer checks with specific options
# Checks: 'clang-analyzer-*'
# CheckOptions:
#   - key:             clang-analyzer-optin.performance.Padding
#     value:           'true'
#   - key:             clang-analyzer-optin.cplusplus.VirtualCall
#     value:           'true'
#   - key:             clang-analyzer-optin.portability.UnixAPI
#     value:           'true'